@charset "UTF-8";

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #007bff;
	background: linear-gradient(to right, #0062E6, #33AEFF);
}

div.container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-moz-box-pack: center;
	-moz-box-align: center;
	-ms-box-pack: center;
	-ms-box-align: center;
}

.textGroup {
	width: 300px;
	height: 100px;
	background: white;
	border-radius: 1rem;
}